<div class="jumbotron mt4">
    <h1 class="display-4">
        Notes App NodeJS and Mongodb
    </h1>
    <p class="lead">
        Esta es una Aplicacion de practica - Amilcar Gómez
    </p>
    <hr class="my-4">
    <p>
        Todos los derechos reservados
    </p>
    <a href="https://amilcargomez.tech/" class="btn btn-primary">Web AG</a>
</div>
